.header 
{
	padding: 10px; /* stuff */
	text-align: left;
	background: white;
	color: #24792b; /* TODO decide */
}

.header h1 
{
	font-size: 60px;
}

.header p
{
	text-align: center;
	color: blue;
}

.navbar
{
	overflow: hidden; /*TODO*/
	background-color: #314032;
}

.navbar a
{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px; /* TODO test padding */
	text-decoration: none;
}

.navbar a.right
{
	color: red;
	float: right; /* TODO test */
}


.navbar a:hover
{
	background-color: red;
	color: black;
}


*
{
	box-sizing: border-box;
}

.main
{
	flex: 75%;
	background-color: white;
	padding: 11px;
}

.main h1
{
	padding: 20px;
}

.main myDiv
{
	/*TODO figure out how to style response */
}

.btn lambdaReq
{
	/*TODO figure out how to style button */
}

@media screen and (max-width: 700px)
{
	.row
	{
		flex-direction: column;
	}
}

@media screen and (max-width: 400px)
{
	.navbar a
	{
		float: none;
		width: 100%;
	}
}

.footer 
{
	padding: 20px;
	text-align: center; /* fix to be like company footer pages, probably a table? */
	background: #ddd;
}
	
