body 
{
		font-family: Arial, Helvetica, sans-serif;
}

.header 
{
	padding: 10px; /* stuff */
	text-align: left;
	background: white;
	color: #24792b; /* TODO decide */
}

.header h1 
{
	font-size: 60px;
}

.header p
{
	text-align: center;
	color: blue;
}

.navbar
{
	overflow: hidden; /*TODO*/
	background-color: #314032;
}

.navbar a
{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.navbar a.right
{
	float: right;
}


.navbar a:hover
{
	background-color: red;
	color: black;
}


*
{
	box-sizing: border-box;
}

.main
{
	flex: 75%;
	background-color: white;
	padding: 11px;
	max-width: 100%;
}

.main h1
{
	padding: 20px;
}

.main object
{
	min-width: 100%;
	min-height: 600px;
	max-height: 100%;
}

@media screen and (max-width: 700px)
{
	.row
	{
		flex-direction: column;
	}
}

@media screen and (max-width: 400px)
{
	.navbar a
	{
		float: none;
		width: 100%;
	}
}

.footer 
{
	padding: 20px;
	text-align: center;
	background: #ddd;
}
	
